@import "tailwindcss";
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* =========================================================
   NEWS AUTO SCROLL - BOTTOM TO TOP
========================================================= */

.news-scroll {
  animation: newsScroll 18s linear infinite;
}

.news-scroll-slow {
  animation: newsScroll 24s linear infinite;
}

/* Pause when mouse is over the news */
.news-paused {
  animation-play-state: paused !important;
}


/* =========================================================
   BOTTOM TO TOP
========================================================= */

@keyframes newsScroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}


.marquee-content:hover {
  animation-play-state: paused;
}
@media print {
  .no-print {
    display: none !important;
  }
}