@import "tailwindcss";
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee-content:hover {
  animation-play-state: paused;
}
@media print {
  .no-print {
    display: none !important;
  }
}